.section3
{
    background: #fff;
}
.section3 p
{
    text-align: center;
    color: #000;
    font-size: 36px;
    font-weight: 10px;
}
.section3 span
{
    font-size: 38px;
}

.bigbos
{
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px,1fr));
    grid-template-rows: minmax(400px,auto);
    grid-gap: 10px;
    grid-row-gap: 150px;
    margin-left: 10px;
}
.bigbos .smallbosss
{
    display: grid;
    place-items: center;
    text-align: center;
}
.bigbos .smallbosss .img2
{   
    position: relative;
    width: 600px;
    height: 332px;
    background-image: url(1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 5s;
    animation: change-image 20s ease-in-out infinite;
    animation-direction: alternate-reverse;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
@keyframes change-image
{
    0% {
        background-image: url(2.jpg);
    }
    20% {
        background-image: url(9.jpg);
    }
    40% {
        background-image: url(10.jpg);
    }
    60% {
        background-image: url(13.jpg);
    }
    80% {
        background-image: url(16.jpg);
    }
    100%
    {
        background-image: url(1.jpg);
    }
}

.bigbos .smallbosss:nth-child(2)
{
    box-shadow: -11px 132px 38px rgba(218, 255, 255, 0.5),
                 20px 46px 81px rgba(0, 0, 0, 0.7)
}